/* CSS Document for Main page  */
/* File: style/board18Main.css */

#sidebar {
  width:120px;
  position: absolute;
  background-color:#ddffdd;
  left:0px;
  top:0px; 
}

.sidebaritem {
	width: 100px;
  height:20px;
  margin-left: 5px;
  padding-left: 10px;
  border-bottom-style:solid;
}

.sidebaritem:hover {
	color: rgb(0,0,0);
	background-color:#b1ccb1;	
}

#content {
  background-color:#ffeedd;
  position: absolute;
  left:5px;
  top:0px; 
  height:350px;
  border: none;
}

#gamelink {
  padding: 5px;
  background-color: white;
  border: 3px solid #ddffdd;
  border-radius: 5px;
  display: none;
}

footer {
  position: absolute;
  left:0px;
  bottom:0px; 
  height:20px;
  width:100%;
  clear:both;
  text-align:center;
}

