/* 
    Document   : board18Admin
    Created on : Oct 17, 2013, 10:52:03 AM
    Author     : rich
    Description:
        CSS Document for board18Admin page.
*/

#sidebar {
  width:120px;
  position: absolute;
  background-color:#ddffdd;
  left:0px;
  top:0px; 
}

.plid {
	width: 115px;
  margin-left: 5px;
  text-indent: 10px;
}

#passwd {
	width: 300px;
	position: absolute;
	left: 150px;
	top: 8px;
	z-index: 10;
}

#admin {
	width: 500px;
	position: absolute;
	left: 150px;
	top: 6px;
	z-index: 20;
}
#lostid {
	width: 300px;
	position: absolute;
	left: 150px;
	top: 6px;
	z-index: 30;
}
#players {
	width: 420px;
	position: absolute;
	left: 150px;
	top: 6px;
	z-index: 40;
}

#playerlist {
  display: none;
  margin: 10px;
  margin-left: 90px;
  border: 2px solid black;
  background-color:#ddffdd; 
  border-collapse:collapse;
}

#playerlist td {
  border: 1px solid black;
}

#playerlist tr {
  border: 1px solid black;
}

#playerlist th {
  border: 1px solid black;
}

#playerlist caption {
  margin: 5px;
  font-weight: bold;
}

.hideform {
  margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
  border-style: double;
	display: none;	
	background-color:#ddffdd;
}
.hideform label {
	display: inline-block;
	width: 150px;
	margin: 0 15px 0 0;
	color: rgb(58,80,123);
}
.hideform input {
	font-size: 14px;
  width: 60px;
}
.pwbutton {
	margin-left: 50px;	
}

#content {
  background: #ffeedd;
  position: absolute;
  left:5px;
  top:0px; 
  height:350px;
  border: none;
}

.error {
  color: red !important;
}

.reg { }
