/* CSS Document for index page  */
/* File: style/board18Index.css */

#sidebar {
  width:120px;
  position: absolute;
  background-color:#ddffdd;
  left:0px;
  top:0px; 
}

#login {
	width: 300px;
	position: absolute;
	left: 150px;
	top: 8px;
	z-index: 10;
}

#register {
	width: 500px;
	position: absolute;
	left: 150px;
	top: 6px;
	z-index: 20;
}

#lostid {
	width: 300px;
	position: absolute;
	left: 150px;
	top: 6px;
	z-index: 30;
}

#lostpw {
	width: 300px;
	position: absolute;
	left: 150px;
	top: 6px;
	z-index: 30;
}

#pointer {
  position: absolute;
	left: 70px;
	top: 0px;
	z-index: 5;
}

.hideform {
	padding: 10px 10px 10px 10px;
  border-style: double;
	display: none;	
	background-color:#ddffdd;
}
.hideform label {
	display: inline-block;
	width: 200px;
	margin: 0 15px 0 0;
	color: rgb(58,80,123);
}
.hideform input {
	font-size: 14px;	
}
.pwbutton {
	margin-left: 50px;	
}

#content {
  background: #ffeedd;
  position: absolute;
  left:5px;
  top:0px; 
  height:350px;
  border: none;
}

.error {
  color: red !important;
}

.reg {}
