/* Common BOARD18 CSS Document */
/* File: style/board18com.css  */

html, body {
  margin: 0;
  padding: 0;
}

section {
  background-color:#ddffdd;
  position:absolute;
  left:135px;
  top:90px;
  width: 1000px;
}

#topofpage {
  background-color:#ffeedd;
  position:fixed;
  left:0px;
  top:0px;
  height:90px;
  width:1000px;
  z-index:5;
}

#leftofpage {
  background-color:#ddffdd;
  position:fixed;
  overflow-y:scroll;
  left:0px;
  top:90px;
  height:450px;
  width:135px;
  z-index:4;
}

#logo {
  position: absolute;
  left:5px;
  top:0px;
  height:90px;
  width:75px;

}
#heading {
  position: absolute;
  left:85px;
  top:0px;
  color:#008800;
  height:50px;
}

#heading > h1 {
  margin:0;
  position:relative;
  left:10px;
  top:5px;
}

#menu {
  position: absolute;
  left:90px;
  top:50px;
  margin:0;
  height:40px;
}

#menu > input {
  position:static;
}



