/* CSS Document for board page  */
/* File: style/board18Map.css */

#sidebar {
  width:120px;
  position: absolute;
  background-color:#ddffdd;
  left:0px;
  top:50px; 
}

.sidebaritem {
	width: 100px;
  height:20px;
  margin-left: 5px;
  padding-left: 10px;
  border-bottom-style:solid;
}

.sidebaritem:hover {
	background-color:#b1ccb1;	
}

#traymenu {
  display: inline-block;
  z-index: 9;
  position: absolute;
  left:15px;
  top:5px;
  width: 70px;
  text-align: center;
  margin:0px;
  padding:5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #ffeedd;
  border: 2px solid #000;
}

.leftMenu {
  border: 2px solid #000 !important;
  font-size: larger !important;
  background-color: #ffeedd !important;
}

#tiles {
  margin-top:5px;
  width:120px;
  float:left;
  overflow:auto;
}

#content {
  background-color:#ffeedd;
  position: absolute;
  left:0px;
  top:0px; 
  z-index: 1;
}

#canvas1 {
  position: absolute;
  left:0px;
  top:0px; 
  z-index: 2;
}

#canvas2 {
  z-index: 4;
  position: absolute;
  left:0px;
  top:0px; 
}

#canvas3 {
  z-index: 6;
  position: absolute;
  left: 100px;
  top: -200px; 
  border:solid 3px #DDFFDD;
  opacity:0;
}

.context-menu {
    background-color: #ddffdd;
    border: 1px solid #999999;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.context-menu a {
    display: block;
    padding: 3px;
    text-decoration: none;
}
.context-menu a:hover {
  	background-color:#b1ccb1;	
    text-decoration: none;
}
