/* 
 * This file contains styles that are common to all
 * board18 web pages. File: style/board18com.css
 */

html, body {
  margin: 0;
  padding: 0;
}

#topofpage {
  background-color:#ffeedd;
  position:fixed;
  left:0px;
  top:0px;
  height:90px;
  width:100%;
  z-index:5;
}

#leftofpage {
  background-color:#ddffdd;
  position:fixed;
  overflow-y:scroll;
  left:0px;
  top:90px;
  width:135px;
  height:400px;
}

#rightofpage {
  background-color:#ffeedd;
  position:fixed;
  overflow-y:scroll;
  overflow-x:scroll;
  left:135px;
  height:400px;
  top:90px;
}

#logo {
  position: absolute;
  left:5px;
  top:0px;
  height:90px;
  width:75px;

}
#heading {
  position: absolute;
  left:85px;
  top:0px;
  color:#008800;
  height:50px;
}

#heading > h1 {
  margin:0;
  position:relative;
  left:10px;
  top:5px;
  font-size: x-large;
}

#lognote {
  margin:0;
  position:absolute;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  left:258px;
  top:50px;
  font-size: large;
}

#mainmenu {
  position: absolute;
  left:96px;
  top:50px;
  margin:0;
}

#mainmenu ul, #mainmenu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#mainmenu span {
	background-color: #ddffdd;
  display: inline-block;
	font: 16px 'ColaborateLightRegular', Arial, sans-serif;
  width: 100px;
  height: 20px;
  border:  1px solid #000;
	margin: 0px 10px 0px 0px;
	padding: 10px 0px 10px 10px;
	color: rgb(53,75,118);
}

#mainmenu span:hover {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #555;
	color: white;
}

#mainmenu .stack > span {
	background-position: 97% 8px;
}

#mainmenu .stack > span:hover {
	background-position: 97% -78px;
}

#mainmenu ul .stack > span {
	background-position: 97% -21px;
}

#mainmenu ul .stack > span:hover {
	background-position: 97% -54px;
}
